body {
  background-color: #000;
  color: white;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wrap {
  display: inline-block;
  position: relative;
  height: 37px;
  float: right;
  padding: 0;
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
}

/* --------------------------------------------------- LANDING AREA ---------------------------------------------------*/

.background {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  height: 93vh;
  width: 100vw;
}
.caption i {
  padding-right: 15px;
}
.caption {
  position: absolute;
  top: 30%;
  width: 55vw;
  margin-left: 65px;
  text-align: left;
  color: white;
}
h1.playfair {
  font-size: 3.7em;
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

#info {
  font-size: 1.2em;
  line-height: 1.7em;
  width: 50vw;
  margin-top: 30px;
}
#head-info {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  margin-top: -10px;
  margin-bottom: 20px;
}
#section-main {
  margin-left: 35px;
}

#read i {
  padding-left: 25px;
}

/* 
   * This is a button animation that I've been using for a few months now on several projects. The animation 
   * essentially creates another styled button on top of the regular button that expands when hovered on to give 
   * the effect of the button changing colors from left to right.
   */

#read {
  display: inline-block;
  width: 220px;
  height: 55px;
  padding-top: 2px;
  padding-left: 15px;
  border-radius: 100px;
  border: 2px solid white;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
}
#read:focus {
  transform: scale(1.1);
}
#read:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 100px;
  z-index: -2;
}
#read:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
#read:hover {
  color: black;
  cursor: pointer;
}
#read:hover:before {
  width: 100%;
}

/* --------------------------------------------------- HEADER/NAVIGATION ---------------------------------------------------*/

a.active {
  color: white !important;
  font-weight: bold;
}
.hide-me {
  opacity: 0;
}

a#home {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  font-family: "Comfortaa", cursive;
}
.logo {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}

/* The link for where I found how to make this navigation menu is listed in the credits section of the site. To 
   * animate the hamburger icon into a cross, I made three separate bars with span classes in the html and used css 
   * animation to make the middle bar disappear and make the other two bars rotate to form an X. 
   */

#nav-container {
  position: fixed;
  top: 0;
  padding: 0 15px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 56px;
  background: black;
  box-shadow: 0 8px 8px -8px black;
}
#nav-container .bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 58px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
#nav-container:focus-within .bg {
  visibility: visible;
}
#nav-container * {
  visibility: visible;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 40px;
  width: 28px;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 28px;
  height: 2px;
  background: white;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-content:focus-within .button {
  pointer-events: none;
}
#nav-content:focus-within .icon-bar:nth-of-type(1),
#nav-container .button:focus .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}
#nav-content:focus-within .icon-bar:nth-of-type(2),
#nav-container .button:focus .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-content:focus-within .icon-bar:nth-of-type(3),
#nav-container .button:focus .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

#nav-content {
  padding: 20px;
  padding-left: 30px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 56px;
  left: 0;
  height: calc(100vh - 72px);
  background: #000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 20px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
  color: #9a9a9a;
}
#nav-content li i {
  margin-right: 15px;
}

#nav-content li a:hover {
  color: white;
}

#nav-container .button:focus + #nav-content,
#nav-content:focus-within {
  transform: none;
}

ul {
  padding: 0;
  list-style: none;
}

#nav-utilities {
  display: flex;
  align-items: center;
}

/* --------------------------------------------------- HEADER SEARCH BAR ---------------------------------------------------*/

/* 
   * The link where I found how to make this search bar is listed in the credits section. It is essentially an 
   * image that expands a text input field with a white border bottom upon being clicked or 'focused' on.
   */

input[type="text"] {
  height: 25px;
  font-size: 15px;
  display: inline-block;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 40px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}
input[type="submit"] {
  height: 25px;
  width: 25px;
  display: inline-block;
  background: url(../imgs/magnifier.svg) center center no-repeat;
  text-indent: -1000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
input::placeholder {
  color: #656565;
}
#account {
  color: white;
  font-size: 1.8em;
}

/* --------------------------------------------------- SECTION BAR ---------------------------------------------------*/

.topics {
  background-color: #151515;
  height: 6vh;
  width: 100vw;
  margin-top: -15px;
}
a {
  text-decoration: none;
}
#sections i {
  padding-right: 10px;
}
#sections a {
  font-size: 0.9em;
  color: #9a9a9a;
}
#section-head {
  display: none;
}
.section-d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.section-d li {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2.1vh;
}
.section-d a {
  transition: 0.2s ease-in-out;
}
.section-d li a:hover {
  color: white !important;
  cursor: pointer;
}

/* --------------------------------------------------- STORIES ---------------------------------------------------*/
h2.story-heading {
  margin-left: 7.5vw;
  margin-top: 50px;
  font-size: 1.8em;
  font-weight: bold;
}
h2.story-heading i {
  margin-right: 15px;
}
.story-container {
  width: 85vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  margin-top: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
}
.title i {
  padding-right: 15px;
}
.article-card {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in-out;
}
.article-card:hover {
  outline: 1px solid white;
}
.article-card .title {
  position: absolute;
  bottom: 0;
  margin: 0px 15px;
}
.title h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  margin: 0;
}
.title h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin: 0;
}
.icons {
  display: flex;
  flex-direction: row;
}
.icon2 {
  margin-left: 25px;
}
.text {
  margin: 10px 0px;
  font-size: 1.2em;
}
.story-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.story-2 {
  grid-column: 3/5;
  grid-row: 1/3;
}
.story-3 {
  grid-column: 1/3;
  grid-row: 3/5;
}
.story-4 {
  grid-column: 3/5;
  grid-row: 3/5;
}
.story-5 {
  grid-column: 5/9;
  grid-row: 1/5;
}
.story-6 {
  grid-column: 1/5;
  grid-row: 5/9;
}
.story-7 {
  grid-column: 5/7;
  grid-row: 5/7;
}
.story-8 {
  grid-column: 7/9;
  grid-row: 5/7;
}
.story-9 {
  grid-column: 5/7;
  grid-row: 7/9;
}
.story-10 {
  grid-column: 7/9;
  grid-row: 7/9;
}
.story-11 {
  grid-column: 1/3;
  grid-row: 9/11;
}
.story-12 {
  grid-column: 3/5;
  grid-row: 9/11;
}
.story-13 {
  grid-column: 1/3;
  grid-row: 11/13;
}
.story-14 {
  grid-column: 3/5;
  grid-row: 11/13;
}
.story-15 {
  grid-column: 5/9;
  grid-row: 9/13;
}

footer {
  margin-top: 150px;
  width: 100vw;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer li {
  margin: 30px 0px;
  text-transform: uppercase;
}
#first {
  border: none;
}
.footer a {
  color: white;
  border-left: 1px solid white;
  padding: 5px 100px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer i {
  padding-right: 15px;
}
.legal-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9em;
}
.legal-info a {
  padding: 25px;
  color: #9a9a9a;
}
.legal-info a:hover {
  text-decoration: underline;
}

/* --------------------------------------------------- MEDIA QUERIES ---------------------------------------------------*/

@media (max-width: 1400px) and (min-width: 1020px) {
  .caption i {
    padding-right: 15px;
  }
  .caption {
    position: absolute;
    top: 35%;
    width: 90vw;
    margin-left: 40px;
    text-align: left;
    color: white;
  }
  h1.playfair {
    font-size: 2.8em;
    font-family: "Playfair Display", serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  h2.story-heading {
    margin-left: 5vw;
  }
  #info {
    font-size: 1.1em;
    line-height: 1.7em;
    width: 75vw;
    margin-top: 30px;
  }
  .section-d li {
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 2.1vh;
  }
  #read {
    height: 50px;
    width: 200px;
  }

  .story-container {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .title {
    font-size: 0.8em;
  }
  .icon2 {
    margin-left: 15px;
  }
  .title i {
    padding-right: 10px;
  }
  .footer a {
    padding: 5px 75px;
  }
}
@media (max-width: 1019px) and (min-width: 600px) {
  .caption i {
    padding-right: 15px;
  }
  .caption {
    position: absolute;
    top: 35%;
    width: 90vw;
    margin-left: 40px;
    text-align: left;
    color: white;
  }
  h1.playfair {
    font-size: 2.8em;
    font-family: "Playfair Display", serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #info {
    font-size: 1.1em;
    line-height: 1.7em;
    width: 90vw;
    margin-top: 30px;
  }
  .section-d li {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2.1vh;
  }
  #read {
    height: 50px;
    width: 200px;
  }

  .story-container {
    width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(20, 120px);
  }
  h2.story-heading {
    margin-left: 4vw;
  }
  .title {
    font-size: 0.8em;
  }
  .icon2 {
    margin-left: 15px;
  }
  .title i {
    padding-right: 10px;
  }
  .footer a {
    padding: 5px 30px;
    font-size: 0.9em;
  }
  .legal-info a {
    font-size: 0.8em;
  }
  .topics {
    height: 10vh;
  }
  .story-1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .story-2 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .story-3 {
    grid-column: 5/7;
    grid-row: 1/3;
  }
  .story-5 {
    grid-column: 1/7;
    grid-row: 3/7;
  }
  .story-4 {
    grid-column: 1/3;
    grid-row: 7/9;
  }
  .story-8 {
    grid-column: 3/5;
    grid-row: 7/9;
  }
  .story-7 {
    grid-column: 5/7;
    grid-row: 7/9;
  }
  .story-6 {
    grid-column: 1/7;
    grid-row: 9/13;
  }
  .story-9 {
    grid-column: 1/3;
    grid-row: 13/15;
  }
  .story-10 {
    grid-column: 3/5;
    grid-row: 13/15;
  }
  .story-11 {
    grid-column: 5/7;
    grid-row: 13/15;
  }
  .story-15 {
    grid-column: 1/7;
    grid-row: 15/19;
  }
  .story-13 {
    grid-column: 1/3;
    grid-row: 19/21;
  }
  .story-14 {
    grid-column: 3/5;
    grid-row: 19/21;
  }
  .story-12 {
    grid-column: 5/7;
    grid-row: 19/21;
  }
  input[type="text"]:focus {
    width: 150px;
  }
}
@media (max-width: 599px) {
  #nav-utilities {
    display: none;
  }
  #account {
    visibility: hidden;
  }
  #wrap {
    display: none;
  }
  .caption i {
    padding-right: 15px;
  }
  .caption {
    position: absolute;
    top: 38%;
    width: 93vw;
    margin-left: 20px;
    text-align: left;
    color: white;
  }

  h1.playfair {
    font-size: 2.1em;
    font-family: "Playfair Display", serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #info {
    font-size: 0.9em;
    line-height: 1.7em;
    width: 93vw;
    margin-top: 30px;
  }
  #head-info {
    font-size: 0.9em;
  }
  .section-d li {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2.1vh;
  }
  #read {
    height: 45px;
    width: 180px;
    font-size: 0.9em;
  }

  .story-container {
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(36, 120px);
  }
  h2.story-heading {
    margin-left: 3vw;
    margin-top: 20px;
    font-size: 1.2em;
  }
  .title h2 {
    font-size: 1.6em;
  }
  .title {
    font-size: 0.8em;
  }
  .icon2 {
    margin-left: 15px;
  }
  .title i {
    padding-right: 10px;
  }
  .footer a {
    padding: 5px 10px;
    font-size: 0.7em;
  }
  .legal-info a {
    font-size: 0.6em;
  }
  .topics {
    height: 15vh;
  }
  .text {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .story-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .story-2 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .story-3 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  .story-5 {
    grid-column: 1/2;
    grid-row: 7/11;
  }
  .story-4 {
    grid-column: 1/2;
    grid-row: 11/13;
  }

  .story-8 {
    grid-column: 1/2;
    grid-row: 13/15;
  }
  .story-7 {
    grid-column: 1/2;
    grid-row: 15/17;
  }
  .story-6 {
    grid-column: 1/2;
    grid-row: 17/21;
  }
  .story-9 {
    grid-column: 1/2;
    grid-row: 21/23;
  }
  .story-10 {
    grid-column: 1/2;
    grid-row: 23/25;
  }

  .story-11 {
    grid-column: 1/2;
    grid-row: 25/27;
  }
  .story-15 {
    grid-column: 1/2;
    grid-row: 27/31;
  }
  .story-13 {
    grid-column: 1/2;
    grid-row: 31/33;
  }
  .story-14 {
    grid-column: 1/2;
    grid-row: 33/35;
  }
  .story-12 {
    grid-column: 1/2;
    grid-row: 35/37;
  }
  .hide-me {
    opacity: 1;
  }
}
